/* Vertically align list */
.app-blogit .results table tbody th,
.app-blogit .results table tbody td {
  vertical-align: middle !important;
}

/* Status colors */
.blogit-status-0,
label.required.blogit-status-0 {
  color: cornflowerblue !important;
  font-weight: bold;
}

.blogit-status-1,
label.required.blogit-status-1 {
  color: firebrick !important;
  font-weight: bold;
}

.blogit-status-2,
label.required.blogit-status-2 {
  color: limegreen !important;
  font-weight: bold;
}

.blogit-status-3,
label.required.blogit-status-3 {
  color: gray !important;
  font-weight: bold;
}

/* Featured image */
.app-blogit .field-get_image {
  text-align: center;
  width: 72px;
  height: 72px;
  padding: 0 !important;
}

/* Date published */
.app-blogit .field-get_date_published img {
  float: right;
  padding: 0 10px;
}
