{% load placeholder_tags %}

<div>
    <h1>{{ post.title }}</h2>

    {% if post.subtitle %}
        <h2>{{ post.subtitle }}</h2>
    {% endif %}

    {% if post.featured_image %}
        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
    {% endif %}

    <p>{{ post.date_created }}</p>
    {% if post.category %}
        <p>
            <strong>Category: </strong>
            <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
        </p>
    {% endif %}

    {% include "blogit/includes/tags.html" with tags=post.get_tags %}

    {% render_placeholder post.content %}

    {% include "blogit/includes/author.html" with author=post.author %}
</div>
