{% for post in posts %}
    <div>
        <a href="{{ post.get_absolute_url }}">
            <h2>{{ post.title }}</h2>
        </a>

        {% if post.subtitle %}
            <h3>{{ post.subtitle }}</h3>
        {% endif %}

        {% if post.featured_image %}
            <a href="{{ post.get_absolute_url }}">
                <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
            </a>
        {% endif %}

        {% if post.description %}
            <p>{{ post.description }}</p>
        {% endif %}

        <p>{{ post.date_created }}</p>
        {% if post.category %}
            <p>
                <strong>Category: </strong>
                <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
            </p>
        {% endif %}

        {% include "blogit/includes/tags.html" with tags=post.get_tags %}
    </div>
{% endfor %}
