{% extends "blogit/base.html" %}

{% block content %}
  {% for post in post_list %}
    <article>
      <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
      <p>{{ post.description }}</p>
    </article>
  {% endfor %}

  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}
      {% for page_number in paginator.page_range %}
        <li><a href="?page={{ page_number }}"{% if page_obj.number == page_number %} class="active"{% endif %}>{{ page_number }}</a></li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
