{% extends "blogit/author/base.html" %}
{% load placeholder_tags %}

{% block "content" %}
    <div>
        <hr>
        <h1>{{ author.get_full_name }}</h1>
        {% if author.picture %}
            <p><img src="{{ author.picture.url }}" alt="{{ author.get_full_name }}"></p>
        {% endif %}
        {% render_placeholder author.bio %}
        <hr>
        {% with posts=author.get_posts %}
            {% if posts %}
                <h4>Post's by {{ author.get_full_name }}</h4>
                <ul>
                    {% for post in posts %}
                        <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
