{% extends "blogit/author/base.html" %}

{% block "content" %}
    {% for author in authors %}
        <div>
            <hr>
            <a href="{{ author.get_absolute_url }}">
                <h2>{{ author.get_full_name }}</h2>
            </a>
            {% if author.picture %}
                <p><a href="{{ author.get_absolute_url }}">
                    <img src="{{ author.picture.url }}" alt="{{ author.get_full_name }}">
                </a></p>
            {% endif %}
            {% if author.bio %}
                <p>{{ author.bio }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <hr>
    {% include "blogit/includes/pagination.html" %}
{% endblock %}
