{% if author %}
    <div>
        <hr>
        <a href="{{ author.get_absolute_url }}">
            <h4>{{ author.get_full_name }}</h4>
        </a>

        {% if author.picture %}
            <p><a href="{{ author.get_absolute_url }}">
                <img src="{{ author.picture.url }}" alt="{{ author.get_full_name }}">
            </a></p>
        {% endif %}

        {% if author.bio %}
            <p>{{ author.bio }}</p>
        {% endif %}

        {% if author.author_links.all %}
            <ul>
                {% for link in author.author_links.all %}
                    <li><a class="{{ link.type }}" href="{{ link.url }}">{{ link.url }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}
